.chart {
  font-family: sans-serif;
  cursor: pointer;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.tooltip {
  position: absolute;
  padding: 3px;
  border-radius: 2px;
  background: white;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 16px;
}
