.d3kk-chart {
  font-family: sans-serif;
  cursor: pointer;
}

.d3kk-axis path,
.d3kk-axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.d3kk-tooltip {
  position: absolute;
  padding: 3px;
  border-radius: 2px;
  background: white;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 16px;
}
